.logo-img {
  height: 100px;
  width: 100px; }

header {
  margin-left: 20px;
  margin-bottom: 20px; }

.post-img-wrapper {
  height: 375px; }

.post {
  min-width: 370px;
  width: 18rem;
  margin: 10px; }

#post-wrapper {
  flex-wrap: wrap;
  display: flex;
  margin: 20px; }
