$min-width: 370px;
$margin-base: 10vw;

.adjust-base {
    width: 80vw;
    margin-left: $margin-base;
    min-width: $min-width;
}

.logo-img{
    height: 100px;
    width: 100px;
}

header{
    margin-left: 20px;
    margin-bottom: 20px;
}

.post-img-wrapper {
    height: 375px; 
}

.post {
    min-width: $min-width;
    width: 18rem;
}

#post-wrapper {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}