.adjust-base {
  width: 80vw;
  margin-left: 10vw;
  min-width: 370px; }

.logo-img {
  height: 100px;
  width: 100px; }

header {
  margin-left: 20px;
  margin-bottom: 20px; }

.post-img-wrapper {
  height: 375px; }

.post {
  min-width: 370px;
  width: 18rem; }

#post-wrapper {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between; }
