$min-width: 370px;
$margin: 10px;

.logo-img{
    height: 100px;
    width: 100px;
}

header{
    margin-left: 20px;
    margin-bottom: 20px;
}

.post-img {
    transform: scale(0.5, 0.5);    
}

.post {
    height: 675px;
    min-width: $min-width;
}

.post-wrapper {
    flex-wrap: wrap;
    display: flex;
    min-width: $min-width + 2 * $margin;
}

